.main_font {
    font-family: Calibri;
}

.head {
    font-family: Calibri;
    font-size:large;
    font-weight: bold;
    color:rgb(52, 112, 176)
}

.fitpicture{
    width: 250px;
}

t:nth-child(1) {
    color: black;
} 

t:nth-child(2) {
    color: pink;
} 

t:nth-child(3) {
    color: rgb(255, 221, 0)
}

t:nth-child(4) {
    color: black;
} 

t:nth-child(5) {
    color: pink;
} 

t:nth-child(6) {
    color: rgb(255, 221, 0)
}

t:nth-child(7) {
    color: black;
} 

t:nth-child(8) {
    color: pink;
} 

.container_whole_page {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr 70fr 10fr 1fr;
  grid-template-areas:
    "header header header"
    "asideLEFT mainCAST asideRIGHT"
    "asideLEFT mainPLOT asideRIGHT"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: red;
  text-align: center;
  font-size: xx-large;
}

asideLEFT {
  grid-area: asideLEFT;
  background-color: rgb(0, 0, 0);
}

mainCAST {
  grid-area: mainCAST;
  background-color: rgb(9, 40, 37);
}

mainPLOT {
  grid-area: mainPLOT;
  background-color: rgb(14, 88, 81);
}

asideRIGHT {
  grid-area: asideRIGHT;
  background-color: black;
}
  
footer {
  grid-area: footer;
  background-color: red;
}

h1 {
  font-style: bold;
  font-size: xx-large;
  font-family: Calibri;
  color: white;
  text-align: center;
}

h2 {
  font-size: xx-large;
  font-family: Calibri;
  color: blue;
  text-align: center;
}

h3 {
  font-size: xx-large;
  font-family: Calibri;
  color: lightblue;
  text-align: center;
}

h4 {
  font-style: bold;
  font-size: xx-large;
  font-family: Calibri;
  color: black;
  text-align: center;
}

h5 {
  font-size: xx-large;
  font-family: Calibri;
  color: darkgray;
  text-align: center;
}

h6 {
  font-style: bold;
  font-size: xx-large;
  font-family: Calibri;
  color: white;
  text-align: center;
}

h7 {
  font-size: xx-large;
  font-family: Calibri;
  color: grey;
  text-align: center;
}

.mainASIDES {
  display: flex;
  gap: 1fr;
  flex-direction: column;
  flex-wrap: wrap;
}

.textASIDES {
  background-color: gray;
  margin: 1rem;
  flex-grow: 1;
}

.mainCAST {
  display: flex;
  gap: 70fr;
  flex-direction: column;
  flex-wrap: wrap;
}

.textCAST {
  background-color: orange;
  margin: 1rem;
  flex-grow: 1;
}

.mainPLOT {
  display: flex;
  gap: 10fr;
  flex-direction: column;
  flex-wrap: wrap;
}

.textPLOT {
  background-color: indigo;
  margin: 1rem;
  flex-grow: 1;
}

.mainSOURCES {
  display: flex;
  gap: 10fr;
  flex-direction: column;
  flex-wrap: wrap;
}

.textSOURCES {
  background-color: indigo;
  margin: 1rem;
  flex-grow: 1;
}